//  -----------------------------
//  About
//  -----------------------------
.section-about{
  z-index: -15;
  overflow: hidden;
  position: relative;
  height: 90vh;
  background-color: $bg-color-white;

  .gradient-overlay{
    width: 100%;
    height: 0;
    box-shadow: 0px 5px 60px 30px $bg-color-white;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  .about-container{
    @include xy-grid-container;
    z-index: 10 !important;
    position: relative;
    top: 60%;
    transform: translateY(-50%);

    .about-text{
      @include breakpoint(small only) {
        @include xy-cell(12);

        h2{
          padding-top: 40px;
          color: $color-black;
        }
        p{
          color: $color-black;
        }

       }

    @include xy-cell(5);

    }

  }

    .about-image{
      @include breakpoint(small only) {
      z-index: -30 !important;
      position: absolute;
      right: 0px;
      bottom: 20px;
        }

        z-index: -30 !important;
        position: absolute;
        right: -300px;
        bottom: 50px;


      .rellax{
        @include breakpoint(small only) {
          img{
            width: 800px;
          }


           img{
           width: 1200px;
             }
      }
    }

}
}

///////////////////////// Test Variable Font ////////////////////////

h5{
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  margin: 0;
  width: 100%;
  font-size: 130px;
  font-family: "AkzessivaGX", BlinkMacSystemFont, sans-serif;
  font-variation-settings: "wght" 700, "wdth" 150;
  color: black;
  white-space: nowrap;
  text-align: center;
  transition: font-variation-settings 250ms ease-out;

  span {
    font-family: "AkzessivaGX", BlinkMacSystemFont, sans-serif;
    font-variation-settings: "wght" 100, "wdth" 150;
    transition: all 250ms ease-out;
  }

  &:hover {
    font-variation-settings: "wght" 0, "wdth" 0;
    
    span {
      font-variation-settings: "wght" 700, "wdth" 150;
    }
  }
// .animate{
//   animation: animate 2s infinite alternate-reverse;
// }

// @keyframes animate {
//   from{
//     font-variation-settings: "wght" 0, "wdth" 0;
//   }
//   to{
//     font-variation-settings: "wght" 700, "wdth" 500;
//   }
// }

}