.section-variable{
    position: relative;
padding-top: 160px;
padding-bottom: 160px;
    height: 1100px;
    
    .variable-container{
      

        @include xy-grid-container;
        .variable-content{
            @include xy-cell(4);
            position: absolute;
            top:50%;
            transform: translateY(-50%);

        h2,p{
            color: $color-white;
        }
    }

    }

    .variable-example{
        position: relative;
        right: 10px;
        background-color:white;
        height:800px;
        width: 1000px; 
        float: right;

        // h1{
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%,-50%);
        //     color: $color-black;
        // }



h1{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    width: 100%;
    font-size: 130px;
    font-family: "AkzessivaGX", BlinkMacSystemFont, sans-serif;
    font-variation-settings: "wght" 700, "wdth" 150;
    color: black;
    white-space: nowrap;
    text-align: center;
    transition: font-variation-settings 250ms ease-out;
  
    span {
      font-family: "AkzessivaGX", BlinkMacSystemFont, sans-serif;
      font-variation-settings: "wght" 100, "wdth" 150;
      transition: all 250ms ease-out;
    }
  
    &:hover {
      font-variation-settings: "wght" 0, "wdth" 0;
      
      span {
        font-variation-settings: "wght" 700, "wdth" 150;
      }
    }
  // .animate{
  //   animation: animate 2s infinite alternate-reverse;
  // }
  
  // @keyframes animate {
  //   from{
  //     font-variation-settings: "wght" 0, "wdth" 0;
  //   }
  //   to{
  //     font-variation-settings: "wght" 700, "wdth" 500;
  //   }
  // }
  
  }
}
}