.section-weight {
  .weight-container {
    @include xy-grid-container;
    padding-top: 160px;
    padding-bottom: 120px;

    .weight-content {
      @include xy-cell(12);
      position: relative;

      h2 {
        padding-bottom: 20px;
        color: $color-white;
      }

      p {
        width: 40%;
        padding-top: 60px;
        color: $color-white;
      }

      .weight-size {
        border: 1px solid white;
        position: relative;
        height: 550px;
        width: 20%;
        display: inline-block;
        margin-right: -4px;
        


        .weight-description {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;

          /* transition effect. not necessary */
          transition: opacity .5s, visibility .5s;

          p {
            margin: 0;
            position: absolute;
            bottom: 10px;
            left: 10px;
            opacity: 0;
            visibility: hidden;
            color: #fff;

            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -100%);
          }
        }

        &:hover .weight-description {
          p {
            visibility: visible;
            opacity: 1;
            animation: weightpos 0.5s forwards;
          }
        }

        &:hover span {
          // transform-style: preserve-3d;
          // transform-origin: center center;
          // transform: scale(1.1);
          opacity: 0.6;
        }

        // &:hover span:not(:hover) {
        //   transform: scale(1.2);
        //   opacity: 0.6;
        //   bottom: 0;
        //   transition: all .1s;
        // }


        span {
          font-size: 300px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: $color-white;
          transition: all .1s;
        }

        &:nth-child(2) {
          span {
            font-weight: 100;
          }
        }

        &:nth-child(3) {
          span {
            font-weight: 200;
          }
        }

        &:nth-child(4) {
          span {
            font-weight: 300;
          }
        }

        &:nth-child(5) {
          span {
            font-weight: 500;
          }
        }

        &:nth-child(6) {
          span {
            font-weight: 600;
          }
        }
      }

    }

  }
}


@keyframes weightpos {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}